/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*.button {
    -fx-background-color:transparent ;
    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-width: 0 3 3 0;
}

.button:hover {
    -fx-background-color:lime;
    -fx-background-radius:0;
    -fx-border-color:black;
    -fx-border-width: 0 3 3 0;
}*/

.jfx-button {
	-fx-background-color: #1976D2;
	-fx-text-fill: WHITE;
}

.jfx-button:hover{
	-fx-background-color: #388E3C;
}